In [16]:
import pandas as pd
#pd.read_csv('hotels_data.csv')

In [5]:
data_frame = pd.read_csv('hotels_data.csv')

In [6]:
data_frame.columns

Index([u'Snapshot ID', u'Snapshot Date', u'Checkin Date', u'Days',
       u'Original Price', u'Discount Price', u'Discount Code',
       u'Available Rooms', u'Hotel Name', u'Hotel Stars'],
      dtype='object')

In [9]:
data_frame.columns

Index([u'Snapshot ID', u'Snapshot Date', u'Checkin Date', u'Days',
       u'Original Price', u'Discount Price', u'Discount Code',
       u'Available Rooms', u'Hotel Name', u'Hotel Stars', u'yid'],
      dtype='object')

In [10]:
data_frame.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,yid
0,1,7/17/2015 0:00,8/12/2015 0:00,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,0
1,1,7/17/2015 0:00,8/19/2015 0:00,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,0
2,1,7/17/2015 0:00,8/13/2015 0:00,5,4370,4240,1,3,The Peninsula New York,5,0
3,1,7/17/2015 0:00,7/26/2015 0:00,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,0
4,1,7/17/2015 0:00,8/12/2015 0:00,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,0

In [31]:
data_frame['Checkin Date']=pd.to_datetime(data_frame['Checkin Date'])
data_frame['WeekDay']=data_frame['Checkin Date'].dt.dayofweek
#date_frame['Snapshot Date']=pd.to_datetime(data_frame['Snapshot Date'])

NameError: name 'date_frame' is not defined

In [ ]:
data_frame.head()

In [32]:
data_frame['DiscountDiff']=data_frame['Original Price']-data_frame['Discount Price']

In [33]:
data_frame.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,yid,WeekDay,DiscountDiff
0,1,7/17/2015 0:00,2015-08-12,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,0,2,138
1,1,7/17/2015 0:00,2015-08-19,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,0,2,131
2,1,7/17/2015 0:00,2015-08-13,5,4370,4240,1,3,The Peninsula New York,5,0,3,130
3,1,7/17/2015 0:00,2015-07-26,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,0,6,72
4,1,7/17/2015 0:00,2015-08-12,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,0,2,67

In [44]:
data_frame['DiscountPerc']=data_frame['DiscountDiff']/data_frame['Original Price']

In [46]:
data_frame.head()

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,yid,WeekDay,DiscountDiff,DiscountPerc
0,1,7/17/2015 0:00,2015-08-12,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,0,2,138,0.117148
1,1,7/17/2015 0:00,2015-08-19,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,0,2,131,0.117700
2,1,7/17/2015 0:00,2015-08-13,5,4370,4240,1,3,The Peninsula New York,5,0,3,130,0.029748
3,1,7/17/2015 0:00,2015-07-26,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,0,6,72,0.041403
4,1,7/17/2015 0:00,2015-08-12,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,0,2,67,0.038528