In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame.from_csv('Hotels_data_Changed.csv')

In [3]:
df.columns

Index([u'Snapshot Date', u'Checkin Date', u'Days', u'Original Price',
       u'Discount Price', u'Discount Code', u'Available Rooms', u'Hotel Name',
       u'Hotel Stars', u'WeekDay', u'DiscountDiff', u'DiscountPerc',
       u'DayDiff'],
      dtype='object')

In [4]:
df.head()

,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,WeekDay,DiscountDiff,DiscountPerc,DayDiff
Snapshot ID,,,,,,,,,,,,,
1,2015-07-17,2015-08-12,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,Wed,138,11.714771,26
1,2015-07-17,2015-08-19,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,Wed,131,11.769991,33
1,2015-07-17,2015-08-13,5,4370,4240,1,3,The Peninsula New York,5,Thu,130,2.974828,27
1,2015-07-17,2015-07-26,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,Sun,72,4.140311,9
1,2015-07-17,2015-08-12,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,Wed,67,3.852789,26

In [5]:
df=df.sort_values(by='DiscountPerc',ascending=False)

In [6]:
df.head()

,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,WeekDay,DiscountDiff,DiscountPerc,DayDiff
Snapshot ID,,,,,,,,,,,,,
194,2015-09-02,2015-09-03,5,5495,1735,1,2,Hyatt Place Flushing LaGuardia Airport,3,Thu,3760,68.425842,1
428,2015-10-01,2015-10-22,5,3193,1012,3,1,Manhattan Broadway Budget Hotel,2,Thu,2181,68.305669,21
428,2015-10-01,2015-10-20,5,3274,1093,2,1,Manhattan Broadway Budget Hotel,2,Tue,2181,66.615761,19
537,2015-11-26,2015-12-01,5,1755,765,3,-1,Comfort Inn Times Square West,2,Tue,990,56.410256,5
537,2015-11-26,2015-12-01,5,1755,765,2,-1,Comfort Inn Times Square West,2,Tue,990,56.410256,5

In [7]:
df.size

2442024

In [8]:
df.count()

Snapshot Date      187848
Checkin Date       187848
Days               187848
Original Price     187848
Discount Price     187848
Discount Code      187848
Available Rooms    187848
Hotel Name         187848
Hotel Stars        187848
WeekDay            187848
DiscountDiff       187848
DiscountPerc       187848
DayDiff            187848
dtype: int64

In [9]:
df=df.drop_duplicates(subset=['WeekDay','Hotel Name','DayDiff','Checkin Date','Snapshot Date'])

In [10]:
df=df.rename(index=str, columns={"Discount Code": "Class"})

In [11]:
df.size

1394887

In [12]:
df.count()

Snapshot Date      107299
Checkin Date       107299
Days               107299
Original Price     107299
Discount Price     107299
Class              107299
Available Rooms    107299
Hotel Name         107299
Hotel Stars        107299
WeekDay            107299
DiscountDiff       107299
DiscountPerc       107299
DayDiff            107299
dtype: int64

In [13]:
df.to_csv('Hotels_classification.csv',index=False)

In [14]:
classification=pd.DataFrame.from_csv('Hotels_classification.csv')

In [15]:
classification.size

1287588

In [16]:
classification.count()

Checkin Date       107299
Days               107299
Original Price     107299
Discount Price     107299
Class              107299
Available Rooms    107299
Hotel Name         107299
Hotel Stars        107299
WeekDay            107299
DiscountDiff       107299
DiscountPerc       107299
DayDiff            107299
dtype: int64

In [17]:
classification.head()

,Checkin Date,Days,Original Price,Discount Price,Class,Available Rooms,Hotel Name,Hotel Stars,WeekDay,DiscountDiff,DiscountPerc,DayDiff
Snapshot Date,,,,,,,,,,,,
2015-09-02,2015-09-03,5,5495,1735,1,2,Hyatt Place Flushing LaGuardia Airport,3,Thu,3760,68.425842,1
2015-10-01,2015-10-22,5,3193,1012,3,1,Manhattan Broadway Budget Hotel,2,Thu,2181,68.305669,21
2015-10-01,2015-10-20,5,3274,1093,2,1,Manhattan Broadway Budget Hotel,2,Tue,2181,66.615761,19
2015-11-26,2015-12-01,5,1755,765,3,-1,Comfort Inn Times Square West,2,Tue,990,56.410256,5
2015-11-19,2015-11-21,5,1995,905,4,-1,New York Hilton Midtown,4,Sat,1090,54.636591,2