In [5]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Yuval\Desktop\Hotels_data_Changed.csv")
df.columns
df.head(5)

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,WeekDay,DiscountDiff,DiscountPerc,DayDiff
0,1,2015-07-17,2015-08-12,5,1178,1040,1,6,Best Western Plus Seaport Inn Downtown,3,Wed,138,11.714771,26
1,1,2015-07-17,2015-08-19,5,1113,982,1,8,Best Western Plus Seaport Inn Downtown,3,Wed,131,11.769991,33
2,1,2015-07-17,2015-08-13,5,4370,4240,1,3,The Peninsula New York,5,Thu,130,2.974828,27
3,1,2015-07-17,2015-07-26,5,1739,1667,1,18,Eventi Hotel a Kimpton Hotel,4,Sun,72,4.140311,9
4,1,2015-07-17,2015-08-12,5,1739,1672,1,3,Eventi Hotel a Kimpton Hotel,4,Wed,67,3.852789,26

In [6]:
df.sort_values(['DiscountPerc'], ascending=False, inplace=True)
df.drop_duplicates(subset=['Hotel Name', 'DayDiff', 'Checkin Date', 'Snapshot Date', 'WeekDay', 'Discount Code'], keep='first', inplace=True)
df.to_csv(r"C:\Users\Yuval\Desktop\Hotels_data_filtered.csv")
df.head(5)

,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,WeekDay,DiscountDiff,DiscountPerc,DayDiff
26262,194,2015-09-02,2015-09-03,5,5495,1735,1,2,Hyatt Place Flushing LaGuardia Airport,3,Thu,3760,68.425842,1
69313,428,2015-10-01,2015-10-22,5,3193,1012,3,1,Manhattan Broadway Budget Hotel,2,Thu,2181,68.305669,21
68905,428,2015-10-01,2015-10-20,5,3274,1093,2,1,Manhattan Broadway Budget Hotel,2,Tue,2181,66.615761,19
146691,537,2015-11-26,2015-12-01,5,1755,765,3,-1,Comfort Inn Times Square West,2,Tue,990,56.410256,5
146304,537,2015-11-26,2015-12-01,5,1755,765,2,-1,Comfort Inn Times Square West,2,Tue,990,56.410256,5

In [38]:
# Naive Bayes
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

vectorizer = CountVectorizer()
data = map(lambda x: ','.join(str(i) for i in x), df[['Hotel Name', 'DayDiff', 'Checkin Date', 'Snapshot Date', 'WeekDay']].values)

counts = vectorizer.fit_transform(data)
targets = df['Discount Code'].values

classifier = MultinomialNB()
classifier.fit(counts, targets)
classifier.predict(counts[0,:])

array([2], dtype=int64)

In [39]:
# Decision tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import train_test_split


X = pd.get_dummies(df).values
Y = df['Discount Code'].values
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)


tree_cls = DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth=3, min_samples_leaf=5)
tree_cls.fit(X_train,y_train)
tree_cls.predict([X[5,:]])

array([1], dtype=int64)