In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Assigment4').getOrCreate()

In [2]:
# Load the new hotels file
base_df = spark.read.csv('Hotels_data_Changed.csv',inferSchema=True,header=True)

In [3]:
base_df.show(2)

+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
|Snapshot ID|      Snapshot Date|       Checkin Date|Days|Original Price|Discount Price|Discount Code|Available Rooms|          Hotel Name|Hotel Stars|WeekDay|DiscountDiff| DiscountPerc|DayDiff|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
|          1|2015-07-17 00:00:00|2015-08-12 00:00:00|   5|          1178|          1040|            1|              6|Best Western Plus...|          3|    Wed|         138| 11.714770798|     26|
|          1|2015-07-17 00:00:00|2015-08-19 00:00:00|   5|          1113|           982|            1|              8|Best Western Plus...|          3|    Wed|         131|11.7699910153|     33|
|          1|2015-07-17 00:00:00|2015-08-13 00:00:00|   5|          4370|          4240|            1|              3|The Peninsula New...|          5|    Thu|         130|2.97482837529|     27|
|          1|2015-07-17 00:00:00|2015-07-26 00:00:00|   5|          1739|          1667|            1|             18|Eventi Hotel a Ki...|          4|    Sun|          72|4.14031052329|      9|
|          1|2015-07-17 00:00:00|2015-08-12 00:00:00|   5|          1739|          1672|            1|              3|Eventi Hotel a Ki...|          4|    Wed|          67|3.85278895917|     26|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
only showing top 5 rows

In [4]:
from pyspark.sql.functions import col

# Get 150 Hotels that have the most rows in data
tophotels = base_df.groupBy("Hotel Name").count().sort(col("count").desc()).head(150)
tophotels

[Row(Hotel Name='Newark Liberty International Airport Marriott', count=5346),
 Row(Hotel Name='Hilton Garden Inn Times Square', count=4892),
 Row(Hotel Name='Residence Inn Newark Elizabeth Liberty International Airport', count=4314),
 Row(Hotel Name='Westin New York at Times Square', count=3792),
 Row(Hotel Name='Loews Regency New York Hotel', count=3617),
 Row(Hotel Name='Viceroy New York', count=3565),
 Row(Hotel Name='Four Seasons Hotel New York', count=3243),
 Row(Hotel Name='Langham Place New York Fifth Avenue', count=3203),
 Row(Hotel Name='The Carlyle A Rosewood Hotel', count=3078),
 Row(Hotel Name='DoubleTree by Hilton Metropolitan - New York City', count=2866),
 Row(Hotel Name='Magnuson Convention Center Hotel', count=2862),
 Row(Hotel Name='Hilton Garden Inn New York West 35th Street', count=2822),
 Row(Hotel Name='Hilton Garden Inn New York-Times Square Central', count=2772),
 Row(Hotel Name='Conrad New York', count=2677),
 Row(Hotel Name='Wyndham Garden Brooklyn Sunset Park', count=2599),
 Row(Hotel Name='Hilton Newark Airport', count=2524),
 Row(Hotel Name='Omni Berkshire Place', count=2358),
 Row(Hotel Name='Hilton Times Square', count=2273),
 Row(Hotel Name='Park Hyatt New York', count=2226),
 Row(Hotel Name='Homewood Suites by Hilton NY Midtown Manhattan Times Square', count=2211),
 Row(Hotel Name='Grand Hyatt New York', count=2165),
 Row(Hotel Name='The Plaza Hotel', count=2149),
 Row(Hotel Name='Quality Inn Woodside', count=2140),
 Row(Hotel Name='Hyatt Union Square New York', count=2114),
 Row(Hotel Name='Le Parker Meridien New York', count=2109),
 Row(Hotel Name='The New York EDITION', count=2073),
 Row(Hotel Name='W New York - Union Square', count=2025),
 Row(Hotel Name='Renaissance Newark Airport Hotel', count=1951),
 Row(Hotel Name='Hampton Inn New York - 35th Street - Empire State Building', count=1930),
 Row(Hotel Name='The Lexington New York City Autograph Collection', count=1920),
 Row(Hotel Name='The Roosevelt Hotel New York City', count=1894),
 Row(Hotel Name='Hilton Garden Inn New York Midtown Park Ave', count=1855),
 Row(Hotel Name='McCarren Hotel & Pool', count=1835),
 Row(Hotel Name='Cassa Hotel 45th Street', count=1834),
 Row(Hotel Name='Hyatt Herald Square New York', count=1834),
 Row(Hotel Name='Martha Washington', count=1820),
 Row(Hotel Name='W New York Times Square', count=1710),
 Row(Hotel Name='Hyatt Place New York Midtown South', count=1700),
 Row(Hotel Name='DoubleTree by Hilton Hotel Newark Airport', count=1688),
 Row(Hotel Name='Hampton Inn Manhattan United Nations', count=1578),
 Row(Hotel Name='Millenium Hilton', count=1564),
 Row(Hotel Name='Hampton Inn Madison Square Garden Area Hotel', count=1563),
 Row(Hotel Name='The Towers of the Waldorf Astoria New York', count=1555),
 Row(Hotel Name='DoubleTree by Hilton New York City - Chelsea', count=1536),
 Row(Hotel Name='Smyth A Thompson Hotel', count=1536),
 Row(Hotel Name='DoubleTree by Hilton New York City - Financial District', count=1496),
 Row(Hotel Name='Hampton Inn Manhattan Soho', count=1462),
 Row(Hotel Name='Hilton Garden Inn New York Manhattan-Midtown East', count=1446),
 Row(Hotel Name='Hampton Inn Manhattan Downtown-Financial District', count=1421),
 Row(Hotel Name='Red Carpet Inn New York City', count=1412),
 Row(Hotel Name='Hampton Inn Manhattan Times Square Central', count=1381),
 Row(Hotel Name='Hilton Garden Inn New York Central Park South-Midtown West', count=1380),
 Row(Hotel Name='Andaz 5th Avenue - a concept by Hyatt', count=1338),
 Row(Hotel Name='Hilton Garden Inn New York Manhattan-Chelsea', count=1290),
 Row(Hotel Name='Gild Hall A Thompson Hotel', count=1282),
 Row(Hotel Name='Hilton Manhattan East', count=1247),
 Row(Hotel Name='Waldorf Astoria New York', count=1227),
 Row(Hotel Name='Sheraton New York Times Square Hotel', count=1223),
 Row(Hotel Name='Hampton Inn Manhattan-Seaport-Financial District', count=1209),
 Row(Hotel Name='Fairfield Inn by Marriott LaGuardia Airport Flushing', count=1197),
 Row(Hotel Name='W New York - Downtown', count=1116),
 Row(Hotel Name='Hilton New York Fashion District', count=1094),
 Row(Hotel Name='Hyatt Times Square New York', count=1072),
 Row(Hotel Name='Hampton Inn Manhattan Times Square South', count=1018),
 Row(Hotel Name='New York Marriott at the Brooklyn Bridge', count=1016),
 Row(Hotel Name='New York Marriott Downtown', count=1009),
 Row(Hotel Name='Hilton Garden Inn New York Long Island City', count=985),
 Row(Hotel Name='Manhattan NYC-an Affinia hotel', count=971),
 Row(Hotel Name='The Muse Hotel a Kimpton Hotel', count=926),
 Row(Hotel Name='New York Hilton Midtown', count=919),
 Row(Hotel Name='W New York', count=910),
 Row(Hotel Name='Andaz Wall Street - a concept by Hyatt', count=869),
 Row(Hotel Name='United Nations Apartment Hotel', count=861),
 Row(Hotel Name='The Westin New York Grand Central', count=832),
 Row(Hotel Name='The Peninsula New York', count=811),
 Row(Hotel Name='NOMO SOHO', count=810),
 Row(Hotel Name='Home2 Suites by Hilton NY Long Island City Manhattan View', count=810),
 Row(Hotel Name='The Standard East Village', count=737),
 Row(Hotel Name='DoubleTree Suites by Hilton New York City - Times Square', count=697),
 Row(Hotel Name='SpringHill Suites by Marriott Newark Liberty International', count=682),
 Row(Hotel Name='Eventi Hotel a Kimpton Hotel', count=617),
 Row(Hotel Name='Hampton Inn New York Chelsea', count=605),
 Row(Hotel Name='Comfort Inn Times Square South Area', count=553),
 Row(Hotel Name='The Pearl New York', count=545),
 Row(Hotel Name='DoubleTree by Hilton Hotel New York - Times Square South', count=525),
 Row(Hotel Name='The Chatwal a Luxury Collection Hotel New York City', count=501),
 Row(Hotel Name='Howard Johnson Inn Jamaica JFK Airport NYC', count=496),
 Row(Hotel Name='Hampton Inn & Suites Staten Island', count=494),
 Row(Hotel Name='Howard Johnson Flushing', count=484),
 Row(Hotel Name='Ramada Long Island City', count=466),
 Row(Hotel Name='SIXTY Lower East Side', count=464),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan SoHo', count=463),
 Row(Hotel Name='Best Western Bayside Inn', count=421),
 Row(Hotel Name='Quality Inn Convention Center', count=413),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan Times Square', count=412),
 Row(Hotel Name='Sheraton LaGuardia East Hotel', count=387),
 Row(Hotel Name='The Premier Hotel New York', count=385),
 Row(Hotel Name='Hampton Inn JFK Airport', count=382),
 Row(Hotel Name='Radisson Martinique on Broadway', count=380),
 Row(Hotel Name='GEM Hotel - Chelsea an Ascend Hotel Collection Member', count=369),
 Row(Hotel Name='Residence Inn by Marriott New York Manhattan Midtown East', count=347),
 Row(Hotel Name='The High Line Hotel', count=337),
 Row(Hotel Name='Holiday Inn New York JFK Airport Area', count=337),
 Row(Hotel Name='Courtyard by Marriott New York City Manhattan Fifth Avenue', count=334),
 Row(Hotel Name='The SunBright', count=325),
 Row(Hotel Name='New York Marriott East Side', count=325),
 Row(Hotel Name='Hampton Inn Times Square North', count=318),
 Row(Hotel Name='Shelburne NYC-an Affinia hotel', count=317),
 Row(Hotel Name='The Lombardy', count=305),
 Row(Hotel Name='Wyndham Garden - Manhattan Chelsea West', count=305),
 Row(Hotel Name='Wyndham Garden Long Island City Manhattan View', count=299),
 Row(Hotel Name='Best Western Plus Newark Airport West', count=292),
 Row(Hotel Name='Best Western Plus Arena Hotel', count=289),
 Row(Hotel Name='Bentley Hotel', count=288),
 Row(Hotel Name='ink48 hotel a Kimpton Hotel', count=275),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan Upper East Side', count=274),
 Row(Hotel Name='Howard Johnson Bronx Near Stadium', count=273),
 Row(Hotel Name='Embassy Suites Newark Airport', count=269),
 Row(Hotel Name='Hotel 48LEX New York', count=268),
 Row(Hotel Name='Hilton Garden Inn Tribeca', count=267),
 Row(Hotel Name='Residence Inn New York The Bronx At Metro Center Atrium', count=260),
 Row(Hotel Name='Hyatt Place Flushing LaGuardia Airport', count=256),
 Row(Hotel Name='San Carlos Hotel', count=254),
 Row(Hotel Name='The Roger', count=253),
 Row(Hotel Name='Wyndham New Yorker', count=242),
 Row(Hotel Name='Roxy Hotel Tribeca (formerly the Tribeca Grand Hotel)', count=240),
 Row(Hotel Name='Courtyard Newark Elizabeth', count=234),
 Row(Hotel Name='The St. Regis New York', count=233),
 Row(Hotel Name='Best Western Bowery Hanbee Hotel', count=233),
 Row(Hotel Name='Crowne Plaza Times Square Manhattan', count=231),
 Row(Hotel Name='Hudson New York Central Park', count=228),
 Row(Hotel Name='Hampton Inn New York - LaGuardia Airport', count=225),
 Row(Hotel Name='Wyndham Garden Chinatown', count=222),
 Row(Hotel Name='Courtyard New York Manhattan Times Square West', count=214),
 Row(Hotel Name='The Kitano New York', count=211),
 Row(Hotel Name='Aloft Harlem', count=210),
 Row(Hotel Name='Super 8 Brooklyn   Park Slope Hotel', count=209),
 Row(Hotel Name='Baccarat Hotel and Residences New York', count=204),
 Row(Hotel Name='The Mark', count=201),
 Row(Hotel Name='Chelsea Inn', count=199),
 Row(Hotel Name='The Out NYC', count=199),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan   Central Park', count=197),
 Row(Hotel Name='Hilton New York JFK Airport', count=194),
 Row(Hotel Name='Blakely New York', count=194),
 Row(Hotel Name='Days Inn Bronx Near Stadium', count=193),
 Row(Hotel Name='The Benjamin', count=189),
 Row(Hotel Name='The Shoreham Hotel', count=188),
 Row(Hotel Name='Jet Luxury at the Trump SoHo', count=187),
 Row(Hotel Name='Dumont NYC-an Affinia hotel', count=180),
 Row(Hotel Name='TRYP By Wyndham Times Square South', count=180)]

In [5]:
# convert the hotel name + count list to dataframe
top_hotel_names_df = spark.sparkContext.parallelize(tophotels).toDF(['hotel_name','COUNT'])

In [6]:
# Get 40 Checkin dates that have the most rows in data
topdates = base_df.groupBy("Checkin Date").count().sort(col("count").desc()).head(40)
topdates

[Row(Checkin Date=datetime.datetime(2015, 11, 11, 0, 0), count=2403),
 Row(Checkin Date=datetime.datetime(2015, 10, 28, 0, 0), count=2087),
 Row(Checkin Date=datetime.datetime(2015, 11, 6, 0, 0), count=2026),
 Row(Checkin Date=datetime.datetime(2015, 10, 14, 0, 0), count=2017),
 Row(Checkin Date=datetime.datetime(2015, 11, 4, 0, 0), count=2014),
 Row(Checkin Date=datetime.datetime(2015, 10, 21, 0, 0), count=1979),
 Row(Checkin Date=datetime.datetime(2015, 8, 19, 0, 0), count=1954),
 Row(Checkin Date=datetime.datetime(2015, 11, 5, 0, 0), count=1868),
 Row(Checkin Date=datetime.datetime(2015, 10, 29, 0, 0), count=1821),
 Row(Checkin Date=datetime.datetime(2015, 8, 12, 0, 0), count=1818),
 Row(Checkin Date=datetime.datetime(2015, 10, 22, 0, 0), count=1748),
 Row(Checkin Date=datetime.datetime(2015, 11, 12, 0, 0), count=1732),
 Row(Checkin Date=datetime.datetime(2015, 9, 10, 0, 0), count=1729),
 Row(Checkin Date=datetime.datetime(2015, 10, 30, 0, 0), count=1728),
 Row(Checkin Date=datetime.datetime(2015, 11, 18, 0, 0), count=1698),
 Row(Checkin Date=datetime.datetime(2015, 8, 26, 0, 0), count=1675),
 Row(Checkin Date=datetime.datetime(2015, 9, 9, 0, 0), count=1664),
 Row(Checkin Date=datetime.datetime(2015, 11, 13, 0, 0), count=1656),
 Row(Checkin Date=datetime.datetime(2015, 11, 10, 0, 0), count=1623),
 Row(Checkin Date=datetime.datetime(2015, 10, 15, 0, 0), count=1622),
 Row(Checkin Date=datetime.datetime(2015, 11, 3, 0, 0), count=1599),
 Row(Checkin Date=datetime.datetime(2015, 11, 21, 0, 0), count=1575),
 Row(Checkin Date=datetime.datetime(2015, 9, 16, 0, 0), count=1548),
 Row(Checkin Date=datetime.datetime(2015, 9, 17, 0, 0), count=1530),
 Row(Checkin Date=datetime.datetime(2015, 11, 28, 0, 0), count=1521),
 Row(Checkin Date=datetime.datetime(2015, 9, 30, 0, 0), count=1519),
 Row(Checkin Date=datetime.datetime(2015, 10, 27, 0, 0), count=1476),
 Row(Checkin Date=datetime.datetime(2015, 11, 26, 0, 0), count=1440),
 Row(Checkin Date=datetime.datetime(2015, 9, 18, 0, 0), count=1433),
 Row(Checkin Date=datetime.datetime(2015, 11, 27, 0, 0), count=1425),
 Row(Checkin Date=datetime.datetime(2015, 8, 27, 0, 0), count=1421),
 Row(Checkin Date=datetime.datetime(2015, 9, 11, 0, 0), count=1420),
 Row(Checkin Date=datetime.datetime(2015, 10, 1, 0, 0), count=1410),
 Row(Checkin Date=datetime.datetime(2015, 10, 16, 0, 0), count=1407),
 Row(Checkin Date=datetime.datetime(2015, 8, 28, 0, 0), count=1369),
 Row(Checkin Date=datetime.datetime(2015, 10, 2, 0, 0), count=1356),
 Row(Checkin Date=datetime.datetime(2015, 12, 30, 0, 0), count=1344),
 Row(Checkin Date=datetime.datetime(2015, 11, 7, 0, 0), count=1338),
 Row(Checkin Date=datetime.datetime(2015, 10, 31, 0, 0), count=1318),
 Row(Checkin Date=datetime.datetime(2015, 10, 7, 0, 0), count=1315)]

In [7]:
# convert the name + count list to dataframe
top_checkin_dates_df = spark.sparkContext.parallelize(topdates).toDF(['checkin_date','COUNT'])

In [8]:
only_hotel_names_df = top_hotel_names_df.drop("COUNT")
only_checkin_dates_df = top_checkin_dates_df.drop("COUNT")
joint_df = only_hotel_names_df.crossJoin(only_checkin_dates_df)

In [9]:
price_codes_df = spark.range(1,5).withColumnRenamed("id","price_code")
joint_with_price_codes_df = joint_df.crossJoin(price_codes_df)

In [10]:
joint_with_price_codes_df.show(5)

+--------------------+-------------------+----------+
|          hotel_name|       checkin_date|price_code|
+--------------------+-------------------+----------+
|Newark Liberty In...|2015-11-11 00:00:00|         1|
|Newark Liberty In...|2015-11-11 00:00:00|         2|
|Newark Liberty In...|2015-11-11 00:00:00|         3|
|Newark Liberty In...|2015-11-11 00:00:00|         4|
|Newark Liberty In...|2015-10-28 00:00:00|         1|
+--------------------+-------------------+----------+
only showing top 5 rows

In [11]:
#dummy_prices_df = spark.range(-1,0).withColumnRenamed("id","price")
#complete_df = joint__with_price_codes_df.crossJoin(dummy_prices_df)

In [12]:
temp_dict = {}
for line in joint_with_price_codes_df.collect():
    temp_dict[line.hotel_name, line.checkin_date, line.price_code] = -1

In [15]:
grouped_df = base_df.groupBy("Hotel Name", "Checkin Date", "Discount Code").min("Discount Price")
grouped_renamed_df = grouped_df.withColumnRenamed("Hotel Name", "hn").withColumnRenamed("Checkin Date", "cd").withColumnRenamed("Discount Code", "dc").withColumnRenamed("min(Discount Price)","dp")
grouped_renamed_df.show()

+--------------------+-------------------+---+----+
|                  hn|                 cd| dc|  dp|
+--------------------+-------------------+---+----+
| Park Hyatt New York|2015-07-31 00:00:00|  3|3455|
|New York Marriott...|2015-08-06 00:00:00|  4|1670|
|Hilton Garden Inn...|2015-08-13 00:00:00|  4|1007|
|Gild Hall A Thomp...|2015-09-09 00:00:00|  1|1396|
|Omni Berkshire Place|2015-08-27 00:00:00|  2|1156|
|Westin New York a...|2015-08-22 00:00:00|  3|1265|
|Hyatt Union Squar...|2015-09-06 00:00:00|  3|2085|
| The Kitano New York|2015-09-19 00:00:00|  4|2075|
|Andaz Wall Street...|2015-08-25 00:00:00|  3|1365|
|Hilton Newark Air...|2015-08-21 00:00:00|  1| 710|
|Hyatt Times Squar...|2015-09-18 00:00:00|  2|1785|
|Hilton Garden Inn...|2015-09-27 00:00:00|  4|1836|
|Hilton Newark Air...|2015-08-07 00:00:00|  1| 710|
|Hilton Garden Inn...|2015-08-04 00:00:00|  1|1755|
|Smyth A Thompson ...|2015-09-30 00:00:00|  3|2525|
|Omni Berkshire Place|2015-09-24 00:00:00|  3|3735|
|   The Milburn Hotel|2015-08-22 00:00:00|  2|1437|
|Hilton Garden Inn...|2015-10-04 00:00:00|  2|1675|
|Hampton Inn Manha...|2015-10-04 00:00:00|  2|1548|
| The Kitano New York|2015-09-30 00:00:00|  2|1893|
+--------------------+-------------------+---+----+
only showing top 20 rows

In [16]:
for row in grouped_renamed_df.collect():
    temp_dict[row.hn, row.cd, row.dc] = row.dp

In [17]:
for i in range(1,200):
    print (temp_dict[tuple(list(temp_dict)[i])])

906
1008
-1
788
856
966
-1
1315
1195
-1
-1
804
863
965
-1
796
864
966
-1
1195
1185
1134
1144
1515
1588
1515
1525
1082
1111
1084
-1
1715
1645
1535
1662
1195
1235
-1
1149
688
717
769
-1
749
771
835
-1
-1
-1
-1
-1
871
-1
1070
-1
696
687
739
-1
1532
1586
1631
1681
1606
1674
1719
-1
-1
1565
1516
1728
1356
1426
1475
1965
1336
1396
1445
-1
2276
2276
2316
2316
3095
2476
2436
2476
2196
2316
2795
2276
3295
3015
3085
3345
2195
2436
2316
2516
-1
1625
1705
1999
2035
2125
2215
2197
2165
1939
1859
-1
2205
2125
2245
1984
1835
1885
1939
1885
-1
-1
5235
5355
4995
4815
4675
4775
5355
4875
5335
-1
-1
4575
4675
4775
4995
4875
5235
4775
2923
2888
3028
3168
2993
3028
3168
-1
-1
-1
-1
-1
3434
3431
3671
3833
3273
3368
3606
3817
3285
3420
3555
3690
4560
4740
4860
-1
-1
-1
-1
-1
-1
3780
3870
3960
-1
-1
-1
-1
917
1020
987
1133
1565
-1
1545
1465
1163
916
983
-1
1445
1405
1685
1335
-1
983
1057
1061

In [29]:
rowsList = []
for key in list(temp_dict.keys()):
    rowsList.append([key[0], key[1], key[2] ,temp_dict[key]])

In [32]:
final_df = spark.sparkContext.parallelize(rowsList).toDF(["hotel_name", "checkin_date", "discount_code", "discount_price"])

In [38]:
final_df.filter("discount_price<261").filter("discount_price>1").show()

+-------------+-------------------+-------------+--------------+
|   hotel_name|       checkin_date|discount_code|discount_price|
+-------------+-------------------+-------------+--------------+
|The SunBright|2015-11-30 00:00:00|            4|           260|
|The SunBright|2015-11-30 00:00:00|            2|           260|
+-------------+-------------------+-------------+--------------+

In [51]:
min_price = final_df.filter("discount_price>-1").groupBy().min("discount_price").head()[0]
max_price = final_df.filter("discount_price>-1").groupBy().max("discount_price").head()[0]

In [69]:
from pyspark.sql import functions as F
normalized_df = final_df.select(final_df[0], final_df[1], final_df[2], final_df[3], F.when(final_df.discount_price > -1, 100 * (final_df.discount_price - min_price) / (max_price - min_price)).otherwise(-1).alias("normalized_price"))

In [70]:
normalized_df.show()

+--------------------+-------------------+-------------+--------------+------------------+
|          hotel_name|       checkin_date|discount_code|discount_price|  normalized_price|
+--------------------+-------------------+-------------+--------------+------------------+
|Newark Liberty In...|2015-11-11 00:00:00|            1|           838|3.4323040380047507|
|Newark Liberty In...|2015-11-11 00:00:00|            2|           906| 3.836104513064133|
|Newark Liberty In...|2015-11-11 00:00:00|            3|          1008| 4.441805225653207|
|Newark Liberty In...|2015-11-11 00:00:00|            4|            -1|              -1.0|
|Newark Liberty In...|2015-10-28 00:00:00|            1|           788|3.1353919239904986|
|Newark Liberty In...|2015-10-28 00:00:00|            2|           856| 3.539192399049881|
|Newark Liberty In...|2015-10-28 00:00:00|            3|           966| 4.192399049881235|
|Newark Liberty In...|2015-10-28 00:00:00|            4|            -1|              -1.0|
|Newark Liberty In...|2015-11-06 00:00:00|            1|          1315| 6.264845605700713|
|Newark Liberty In...|2015-11-06 00:00:00|            2|          1195| 5.552256532066508|
|Newark Liberty In...|2015-11-06 00:00:00|            3|            -1|              -1.0|
|Newark Liberty In...|2015-11-06 00:00:00|            4|            -1|              -1.0|
|Newark Liberty In...|2015-10-14 00:00:00|            1|           804|3.2304038004750595|
|Newark Liberty In...|2015-10-14 00:00:00|            2|           863|3.5807600950118763|
|Newark Liberty In...|2015-10-14 00:00:00|            3|           965|  4.18646080760095|
|Newark Liberty In...|2015-10-14 00:00:00|            4|            -1|              -1.0|
|Newark Liberty In...|2015-11-04 00:00:00|            1|           796| 3.182897862232779|
|Newark Liberty In...|2015-11-04 00:00:00|            2|           864|3.5866983372921615|
|Newark Liberty In...|2015-11-04 00:00:00|            3|           966| 4.192399049881235|
|Newark Liberty In...|2015-11-04 00:00:00|            4|            -1|              -1.0|
+--------------------+-------------------+-------------+--------------+------------------+
only showing top 20 rows