In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Assigment4').getOrCreate()

In [2]:
# Load the new hotels file
base_df = spark.read.csv('Hotels_data_Changed.csv',inferSchema=True,header=True)

In [3]:
base_df.show(2)

+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
|Snapshot ID|      Snapshot Date|       Checkin Date|Days|Original Price|Discount Price|Discount Code|Available Rooms|          Hotel Name|Hotel Stars|WeekDay|DiscountDiff| DiscountPerc|DayDiff|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
|          1|2015-07-17 00:00:00|2015-08-12 00:00:00|   5|          1178|          1040|            1|              6|Best Western Plus...|          3|    Wed|         138| 11.714770798|     26|
|          1|2015-07-17 00:00:00|2015-08-19 00:00:00|   5|          1113|           982|            1|              8|Best Western Plus...|          3|    Wed|         131|11.7699910153|     33|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+--------------------+-----------+-------+------------+-------------+-------+
only showing top 2 rows

In [4]:
from pyspark.sql.functions import col

# Get 150 Hotels that have the most rows in data
tophotels = base_df.groupBy("Hotel Name").count().sort(col("count").desc()).head(150)
tophotels

[Row(Hotel Name='Newark Liberty International Airport Marriott', count=5346),
 Row(Hotel Name='Hilton Garden Inn Times Square', count=4892),
 Row(Hotel Name='Residence Inn Newark Elizabeth Liberty International Airport', count=4314),
 Row(Hotel Name='Westin New York at Times Square', count=3792),
 Row(Hotel Name='Loews Regency New York Hotel', count=3617),
 Row(Hotel Name='Viceroy New York', count=3565),
 Row(Hotel Name='Four Seasons Hotel New York', count=3243),
 Row(Hotel Name='Langham Place New York Fifth Avenue', count=3203),
 Row(Hotel Name='The Carlyle A Rosewood Hotel', count=3078),
 Row(Hotel Name='DoubleTree by Hilton Metropolitan - New York City', count=2866),
 Row(Hotel Name='Magnuson Convention Center Hotel', count=2862),
 Row(Hotel Name='Hilton Garden Inn New York West 35th Street', count=2822),
 Row(Hotel Name='Hilton Garden Inn New York-Times Square Central', count=2772),
 Row(Hotel Name='Conrad New York', count=2677),
 Row(Hotel Name='Wyndham Garden Brooklyn Sunset Park', count=2599),
 Row(Hotel Name='Hilton Newark Airport', count=2524),
 Row(Hotel Name='Omni Berkshire Place', count=2358),
 Row(Hotel Name='Hilton Times Square', count=2273),
 Row(Hotel Name='Park Hyatt New York', count=2226),
 Row(Hotel Name='Homewood Suites by Hilton NY Midtown Manhattan Times Square', count=2211),
 Row(Hotel Name='Grand Hyatt New York', count=2165),
 Row(Hotel Name='The Plaza Hotel', count=2149),
 Row(Hotel Name='Quality Inn Woodside', count=2140),
 Row(Hotel Name='Hyatt Union Square New York', count=2114),
 Row(Hotel Name='Le Parker Meridien New York', count=2109),
 Row(Hotel Name='The New York EDITION', count=2073),
 Row(Hotel Name='W New York - Union Square', count=2025),
 Row(Hotel Name='Renaissance Newark Airport Hotel', count=1951),
 Row(Hotel Name='Hampton Inn New York - 35th Street - Empire State Building', count=1930),
 Row(Hotel Name='The Lexington New York City Autograph Collection', count=1920),
 Row(Hotel Name='The Roosevelt Hotel New York City', count=1894),
 Row(Hotel Name='Hilton Garden Inn New York Midtown Park Ave', count=1855),
 Row(Hotel Name='McCarren Hotel & Pool', count=1835),
 Row(Hotel Name='Hyatt Herald Square New York', count=1834),
 Row(Hotel Name='Cassa Hotel 45th Street', count=1834),
 Row(Hotel Name='Martha Washington', count=1820),
 Row(Hotel Name='W New York Times Square', count=1710),
 Row(Hotel Name='Hyatt Place New York Midtown South', count=1700),
 Row(Hotel Name='DoubleTree by Hilton Hotel Newark Airport', count=1688),
 Row(Hotel Name='Hampton Inn Manhattan United Nations', count=1578),
 Row(Hotel Name='Millenium Hilton', count=1564),
 Row(Hotel Name='Hampton Inn Madison Square Garden Area Hotel', count=1563),
 Row(Hotel Name='The Towers of the Waldorf Astoria New York', count=1555),
 Row(Hotel Name='DoubleTree by Hilton New York City - Chelsea', count=1536),
 Row(Hotel Name='Smyth A Thompson Hotel', count=1536),
 Row(Hotel Name='DoubleTree by Hilton New York City - Financial District', count=1496),
 Row(Hotel Name='Hampton Inn Manhattan Soho', count=1462),
 Row(Hotel Name='Hilton Garden Inn New York Manhattan-Midtown East', count=1446),
 Row(Hotel Name='Hampton Inn Manhattan Downtown-Financial District', count=1421),
 Row(Hotel Name='Red Carpet Inn New York City', count=1412),
 Row(Hotel Name='Hampton Inn Manhattan Times Square Central', count=1381),
 Row(Hotel Name='Hilton Garden Inn New York Central Park South-Midtown West', count=1380),
 Row(Hotel Name='Andaz 5th Avenue - a concept by Hyatt', count=1338),
 Row(Hotel Name='Hilton Garden Inn New York Manhattan-Chelsea', count=1290),
 Row(Hotel Name='Gild Hall A Thompson Hotel', count=1282),
 Row(Hotel Name='Hilton Manhattan East', count=1247),
 Row(Hotel Name='Waldorf Astoria New York', count=1227),
 Row(Hotel Name='Sheraton New York Times Square Hotel', count=1223),
 Row(Hotel Name='Hampton Inn Manhattan-Seaport-Financial District', count=1209),
 Row(Hotel Name='Fairfield Inn by Marriott LaGuardia Airport Flushing', count=1197),
 Row(Hotel Name='W New York - Downtown', count=1116),
 Row(Hotel Name='Hilton New York Fashion District', count=1094),
 Row(Hotel Name='Hyatt Times Square New York', count=1072),
 Row(Hotel Name='Hampton Inn Manhattan Times Square South', count=1018),
 Row(Hotel Name='New York Marriott at the Brooklyn Bridge', count=1016),
 Row(Hotel Name='New York Marriott Downtown', count=1009),
 Row(Hotel Name='Hilton Garden Inn New York Long Island City', count=985),
 Row(Hotel Name='Manhattan NYC-an Affinia hotel', count=971),
 Row(Hotel Name='The Muse Hotel a Kimpton Hotel', count=926),
 Row(Hotel Name='New York Hilton Midtown', count=919),
 Row(Hotel Name='W New York', count=910),
 Row(Hotel Name='Andaz Wall Street - a concept by Hyatt', count=869),
 Row(Hotel Name='United Nations Apartment Hotel', count=861),
 Row(Hotel Name='The Westin New York Grand Central', count=832),
 Row(Hotel Name='The Peninsula New York', count=811),
 Row(Hotel Name='Home2 Suites by Hilton NY Long Island City Manhattan View', count=810),
 Row(Hotel Name='NOMO SOHO', count=810),
 Row(Hotel Name='The Standard East Village', count=737),
 Row(Hotel Name='DoubleTree Suites by Hilton New York City - Times Square', count=697),
 Row(Hotel Name='SpringHill Suites by Marriott Newark Liberty International', count=682),
 Row(Hotel Name='Eventi Hotel a Kimpton Hotel', count=617),
 Row(Hotel Name='Hampton Inn New York Chelsea', count=605),
 Row(Hotel Name='Comfort Inn Times Square South Area', count=553),
 Row(Hotel Name='The Pearl New York', count=545),
 Row(Hotel Name='DoubleTree by Hilton Hotel New York - Times Square South', count=525),
 Row(Hotel Name='The Chatwal a Luxury Collection Hotel New York City', count=501),
 Row(Hotel Name='Howard Johnson Inn Jamaica JFK Airport NYC', count=496),
 Row(Hotel Name='Hampton Inn & Suites Staten Island', count=494),
 Row(Hotel Name='Howard Johnson Flushing', count=484),
 Row(Hotel Name='Ramada Long Island City', count=466),
 Row(Hotel Name='SIXTY Lower East Side', count=464),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan SoHo', count=463),
 Row(Hotel Name='Best Western Bayside Inn', count=421),
 Row(Hotel Name='Quality Inn Convention Center', count=413),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan Times Square', count=412),
 Row(Hotel Name='Sheraton LaGuardia East Hotel', count=387),
 Row(Hotel Name='The Premier Hotel New York', count=385),
 Row(Hotel Name='Hampton Inn JFK Airport', count=382),
 Row(Hotel Name='Radisson Martinique on Broadway', count=380),
 Row(Hotel Name='GEM Hotel - Chelsea an Ascend Hotel Collection Member', count=369),
 Row(Hotel Name='Residence Inn by Marriott New York Manhattan Midtown East', count=347),
 Row(Hotel Name='Holiday Inn New York JFK Airport Area', count=337),
 Row(Hotel Name='The High Line Hotel', count=337),
 Row(Hotel Name='Courtyard by Marriott New York City Manhattan Fifth Avenue', count=334),
 Row(Hotel Name='New York Marriott East Side', count=325),
 Row(Hotel Name='The SunBright', count=325),
 Row(Hotel Name='Hampton Inn Times Square North', count=318),
 Row(Hotel Name='Shelburne NYC-an Affinia hotel', count=317),
 Row(Hotel Name='Wyndham Garden - Manhattan Chelsea West', count=305),
 Row(Hotel Name='The Lombardy', count=305),
 Row(Hotel Name='Wyndham Garden Long Island City Manhattan View', count=299),
 Row(Hotel Name='Best Western Plus Newark Airport West', count=292),
 Row(Hotel Name='Best Western Plus Arena Hotel', count=289),
 Row(Hotel Name='Bentley Hotel', count=288),
 Row(Hotel Name='ink48 hotel a Kimpton Hotel', count=275),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan Upper East Side', count=274),
 Row(Hotel Name='Howard Johnson Bronx Near Stadium', count=273),
 Row(Hotel Name='Embassy Suites Newark Airport', count=269),
 Row(Hotel Name='Hotel 48LEX New York', count=268),
 Row(Hotel Name='Hilton Garden Inn Tribeca', count=267),
 Row(Hotel Name='Residence Inn New York The Bronx At Metro Center Atrium', count=260),
 Row(Hotel Name='Hyatt Place Flushing LaGuardia Airport', count=256),
 Row(Hotel Name='San Carlos Hotel', count=254),
 Row(Hotel Name='The Roger', count=253),
 Row(Hotel Name='Wyndham New Yorker', count=242),
 Row(Hotel Name='Roxy Hotel Tribeca (formerly the Tribeca Grand Hotel)', count=240),
 Row(Hotel Name='Courtyard Newark Elizabeth', count=234),
 Row(Hotel Name='The St. Regis New York', count=233),
 Row(Hotel Name='Best Western Bowery Hanbee Hotel', count=233),
 Row(Hotel Name='Crowne Plaza Times Square Manhattan', count=231),
 Row(Hotel Name='Hudson New York Central Park', count=228),
 Row(Hotel Name='Hampton Inn New York - LaGuardia Airport', count=225),
 Row(Hotel Name='Wyndham Garden Chinatown', count=222),
 Row(Hotel Name='Courtyard New York Manhattan Times Square West', count=214),
 Row(Hotel Name='The Kitano New York', count=211),
 Row(Hotel Name='Aloft Harlem', count=210),
 Row(Hotel Name='Super 8 Brooklyn   Park Slope Hotel', count=209),
 Row(Hotel Name='Baccarat Hotel and Residences New York', count=204),
 Row(Hotel Name='The Mark', count=201),
 Row(Hotel Name='Chelsea Inn', count=199),
 Row(Hotel Name='The Out NYC', count=199),
 Row(Hotel Name='Courtyard by Marriott New York Manhattan   Central Park', count=197),
 Row(Hotel Name='Blakely New York', count=194),
 Row(Hotel Name='Hilton New York JFK Airport', count=194),
 Row(Hotel Name='Days Inn Bronx Near Stadium', count=193),
 Row(Hotel Name='The Benjamin', count=189),
 Row(Hotel Name='The Shoreham Hotel', count=188),
 Row(Hotel Name='Jet Luxury at the Trump SoHo', count=187),
 Row(Hotel Name='TRYP By Wyndham Times Square South', count=180),
 Row(Hotel Name='Dumont NYC-an Affinia hotel', count=180)]

In [5]:
# convert the name + count list to dataframe and create a view for it
top_hotel_names_df = spark.sparkContext.parallelize(tophotels).toDF(['hotel_name','COUNT'])
top_hotel_names_df.createOrReplaceTempView("topHotelNames")

# Change a column name to handle in query
base_df.withColumnRenamed('Hotel Name','Hotel_Name').createOrReplaceTempView("base_df")

# Reduced the rows listed to only the ones that are among top 150 names
top_hotels_filtered_base_df = spark.sql("SELECT * FROM base_df WHERE Hotel_Name IN (SELECT hotel_name FROM topHotelNames)")
top_hotels_filtered_base_df.show(2)

+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+-------------+-----------+-------+------------+-------------+-------+
|Snapshot ID|      Snapshot Date|       Checkin Date|Days|Original Price|Discount Price|Discount Code|Available Rooms|   Hotel_Name|Hotel Stars|WeekDay|DiscountDiff| DiscountPerc|DayDiff|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+-------------+-----------+-------+------------+-------------+-------+
|        101|2015-08-16 00:00:00|2015-08-17 00:00:00|   5|          2055|          1989|            1|              1|Bentley Hotel|          4|    Mon|          66|3.21167883212|      1|
|        101|2015-08-16 00:00:00|2015-09-06 00:00:00|   5|          1409|          1348|            2|              3|Bentley Hotel|          4|    Sun|          61|4.32931156849|     21|
+-----------+-------------------+-------------------+----+--------------+--------------+-------------+---------------+-------------+-----------+-------+------------+-------------+-------+
only showing top 2 rows

In [6]:
# Get 40 Checkin dates that have the most rows in top 150 hotels data
top_checkin_dates = top_hotels_filtered_base_df.groupBy("Checkin Date").count().sort(col("count").desc()).head(40)

# convert the checkin date + count list to dataframe and create a view for it
top_checkin_dates_df = spark.sparkContext.parallelize(top_checkin_dates).toDF()
top_checkin_dates_df.show(40)

+-------------------+-----+
|       Checkin Date|count|
+-------------------+-----+
|2015-11-11 00:00:00| 2302|
|2015-10-14 00:00:00| 1887|
|2015-11-04 00:00:00| 1885|
|2015-08-19 00:00:00| 1883|
|2015-10-28 00:00:00| 1861|
|2015-10-21 00:00:00| 1817|
|2015-11-06 00:00:00| 1808|
|2015-08-12 00:00:00| 1765|
|2015-11-05 00:00:00| 1684|
|2015-10-22 00:00:00| 1662|
|2015-11-12 00:00:00| 1649|
|2015-09-10 00:00:00| 1623|
|2015-10-29 00:00:00| 1623|
|2015-09-09 00:00:00| 1616|
|2015-11-18 00:00:00| 1582|
|2015-08-26 00:00:00| 1559|
|2015-11-10 00:00:00| 1548|
|2015-11-13 00:00:00| 1547|
|2015-10-15 00:00:00| 1473|
|2015-11-21 00:00:00| 1469|
|2015-09-30 00:00:00| 1464|
|2015-10-30 00:00:00| 1412|
|2015-09-16 00:00:00| 1407|
|2015-09-17 00:00:00| 1402|
|2015-11-28 00:00:00| 1383|
|2015-10-01 00:00:00| 1373|
|2015-11-26 00:00:00| 1356|
|2015-09-11 00:00:00| 1332|
|2015-09-18 00:00:00| 1326|
|2015-10-16 00:00:00| 1309|
|2015-11-27 00:00:00| 1306|
|2015-10-02 00:00:00| 1280|
|2015-10-07 00:00:00| 1257|
|2015-11-07 00:00:00| 1256|
|2015-08-28 00:00:00| 1251|
|2015-08-27 00:00:00| 1239|
|2015-10-27 00:00:00| 1227|
|2015-11-03 00:00:00| 1215|
|2015-08-13 00:00:00| 1210|
|2015-11-25 00:00:00| 1175|
+-------------------+-----+

In [7]:
# Change a column name to handle in query
top_checkin_dates_df = top_checkin_dates_df.withColumnRenamed('Checkin Date','Checkin_Date')
top_checkin_dates_df.show(3)

+-------------------+-----+
|       Checkin_Date|count|
+-------------------+-----+
|2015-11-11 00:00:00| 2302|
|2015-10-14 00:00:00| 1887|
|2015-11-04 00:00:00| 1885|
+-------------------+-----+
only showing top 3 rows

In [8]:
# Create filtered data for top hotels with top dates

top_checkin_dates_df.createOrReplaceTempView("topCheckinDates")

# Change a column name to handle in query
top_hotels_filtered_base_df.withColumnRenamed('Checkin Date','Checkin_Date').withColumnRenamed('Discount Price','Discount_Price').withColumnRenamed('Discount Code','Discount_Code').createOrReplaceTempView("top_hotels_filtered_base")

# Reduced the rows listed to only the ones that are among top 40 checkin dates
hotel_rows_for_top_dates = spark.sql("SELECT Hotel_Name, Checkin_Date, Discount_Code, Discount_Price FROM top_hotels_filtered_base WHERE Checkin_Date IN (SELECT Checkin_Date FROM topCheckinDates)")

hotel_rows_for_top_dates.show()

+--------------------+-------------------+-------------+--------------+
|          Hotel_Name|       Checkin_Date|Discount_Code|Discount_Price|
+--------------------+-------------------+-------------+--------------+
|Westin New York a...|2015-11-26 00:00:00|            2|          1845|
|Westin New York a...|2015-11-26 00:00:00|            3|          1696|
|Westin New York a...|2015-11-26 00:00:00|            4|          1646|
|Westin New York a...|2015-11-26 00:00:00|            2|          1845|
|Westin New York a...|2015-11-26 00:00:00|            3|          1696|
|Westin New York a...|2015-11-26 00:00:00|            4|          1646|
|Westin New York a...|2015-11-26 00:00:00|            2|          1845|
|Westin New York a...|2015-11-26 00:00:00|            3|          1696|
|Westin New York a...|2015-11-26 00:00:00|            4|          1646|
|Westin New York a...|2015-11-26 00:00:00|            2|          1845|
|Westin New York a...|2015-11-26 00:00:00|            3|          1696|
|Westin New York a...|2015-11-26 00:00:00|            4|          1646|
|Westin New York a...|2015-11-26 00:00:00|            2|          1845|
|Westin New York a...|2015-11-26 00:00:00|            3|          1696|
|Westin New York a...|2015-11-26 00:00:00|            4|          1646|
|Westin New York a...|2015-11-26 00:00:00|            2|          1775|
|Westin New York a...|2015-11-26 00:00:00|            3|          1626|
|Westin New York a...|2015-11-26 00:00:00|            4|          1576|
|Westin New York a...|2015-11-26 00:00:00|            2|          1775|
|Westin New York a...|2015-11-26 00:00:00|            3|          1626|
+--------------------+-------------------+-------------+--------------+
only showing top 20 rows

In [9]:
# Creates dataframe for combination of hotels with checkin dates
only_hotel_names_df = top_hotel_names_df.drop("COUNT")
only_checkin_dates_df = top_checkin_dates_df.drop("COUNT")
joint_df = only_hotel_names_df.crossJoin(only_checkin_dates_df)

In [10]:
joint_df.show(2)

+--------------------+-------------------+
|          hotel_name|       Checkin_Date|
+--------------------+-------------------+
|Newark Liberty In...|2015-11-11 00:00:00|
|Newark Liberty In...|2015-10-14 00:00:00|
+--------------------+-------------------+
only showing top 2 rows

In [11]:
# Creates dataframe for combination of hotels with checkin dates and discount codes
discount_codes_df = spark.range(1,5).withColumnRenamed("id","discount_code")
joint_with_price_codes_df = joint_df.crossJoin(discount_codes_df)

In [12]:
joint_with_price_codes_df.show(5)
joint_with_price_codes_df.count()

+--------------------+-------------------+-------------+
|          hotel_name|       Checkin_Date|discount_code|
+--------------------+-------------------+-------------+
|Newark Liberty In...|2015-11-11 00:00:00|            1|
|Newark Liberty In...|2015-11-11 00:00:00|            2|
|Newark Liberty In...|2015-11-11 00:00:00|            3|
|Newark Liberty In...|2015-11-11 00:00:00|            4|
|Newark Liberty In...|2015-10-14 00:00:00|            1|
+--------------------+-------------------+-------------+
only showing top 5 rows

24000

In [13]:
# Filter (top hotels filtered) base df to leave us with only listings
# of same combinations with minimum price
grouped_df = hotel_rows_for_top_dates.groupBy("Hotel_Name", "Checkin_Date", "Discount_Code").min("Discount_Price")

In [14]:
grouped_renamed_df = grouped_df.withColumnRenamed("Hotel_Name", "hotel_name").withColumnRenamed("Checkin_Date", "checkin_date").withColumnRenamed("Discount_Code", "discount_code").withColumnRenamed("min(Discount_Price)","discount_price")

In [15]:
grouped_renamed_df.show(20)

+--------------------+-------------------+-------------+--------------+
|          hotel_name|       checkin_date|discount_code|discount_price|
+--------------------+-------------------+-------------+--------------+
|Westin New York a...|2015-09-11 00:00:00|            3|          1759|
|Homewood Suites b...|2015-08-12 00:00:00|            1|          1195|
|New York Marriott...|2015-08-12 00:00:00|            2|          1275|
|    Viceroy New York|2015-11-13 00:00:00|            2|          1822|
|Omni Berkshire Place|2015-08-27 00:00:00|            2|          1156|
|     The Plaza Hotel|2015-08-27 00:00:00|            3|          2969|
|Hampton Inn Manha...|2015-11-03 00:00:00|            3|          1255|
|     The Plaza Hotel|2015-11-03 00:00:00|            4|          4088|
| The Kitano New York|2015-09-30 00:00:00|            2|          1893|
|Smyth A Thompson ...|2015-09-30 00:00:00|            3|          2525|
|Hilton Garden Inn...|2015-09-30 00:00:00|            1|          1426|
|Waldorf Astoria N...|2015-09-09 00:00:00|            1|          2375|
|Gild Hall A Thomp...|2015-09-09 00:00:00|            1|          1396|
|Wyndham Garden Ch...|2015-10-30 00:00:00|            3|          1209|
|          W New York|2015-10-30 00:00:00|            3|          1816|
|The Premier Hotel...|2015-10-21 00:00:00|            2|          2106|
|Grand Hyatt New York|2015-11-28 00:00:00|            3|          1731|
| The High Line Hotel|2015-09-10 00:00:00|            1|          2857|
|The St. Regis New...|2015-10-14 00:00:00|            2|          5175|
|Grand Hyatt New York|2015-10-14 00:00:00|            4|          1655|
+--------------------+-------------------+-------------+--------------+
only showing top 20 rows

In [16]:
final_columns_df = top_checkin_dates_df.select("checkin_date").crossJoin(discount_codes_df.select("discount_code"))

In [17]:
final_columns_df.show(2)
final_columns_df.count()

+-------------------+-------------+
|       checkin_date|discount_code|
+-------------------+-------------+
|2015-11-11 00:00:00|            1|
|2015-11-11 00:00:00|            2|
+-------------------+-------------+
only showing top 2 rows

160

In [18]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
w = Window().orderBy("checkin_date", "discount_code")
indexed_final_columns_df = final_columns_df.select(row_number().over(w).alias("ID"), col("*"))

indexed_final_columns_df.show(180)

+---+-------------------+-------------+
| ID|       checkin_date|discount_code|
+---+-------------------+-------------+
|  1|2015-08-12 00:00:00|            1|
|  2|2015-08-12 00:00:00|            2|
|  3|2015-08-12 00:00:00|            3|
|  4|2015-08-12 00:00:00|            4|
|  5|2015-08-13 00:00:00|            1|
|  6|2015-08-13 00:00:00|            2|
|  7|2015-08-13 00:00:00|            3|
|  8|2015-08-13 00:00:00|            4|
|  9|2015-08-19 00:00:00|            1|
| 10|2015-08-19 00:00:00|            2|
| 11|2015-08-19 00:00:00|            3|
| 12|2015-08-19 00:00:00|            4|
| 13|2015-08-26 00:00:00|            1|
| 14|2015-08-26 00:00:00|            2|
| 15|2015-08-26 00:00:00|            3|
| 16|2015-08-26 00:00:00|            4|
| 17|2015-08-27 00:00:00|            1|
| 18|2015-08-27 00:00:00|            2|
| 19|2015-08-27 00:00:00|            3|
| 20|2015-08-27 00:00:00|            4|
| 21|2015-08-28 00:00:00|            1|
| 22|2015-08-28 00:00:00|            2|
| 23|2015-08-28 00:00:00|            3|
| 24|2015-08-28 00:00:00|            4|
| 25|2015-09-09 00:00:00|            1|
| 26|2015-09-09 00:00:00|            2|
| 27|2015-09-09 00:00:00|            3|
| 28|2015-09-09 00:00:00|            4|
| 29|2015-09-10 00:00:00|            1|
| 30|2015-09-10 00:00:00|            2|
| 31|2015-09-10 00:00:00|            3|
| 32|2015-09-10 00:00:00|            4|
| 33|2015-09-11 00:00:00|            1|
| 34|2015-09-11 00:00:00|            2|
| 35|2015-09-11 00:00:00|            3|
| 36|2015-09-11 00:00:00|            4|
| 37|2015-09-16 00:00:00|            1|
| 38|2015-09-16 00:00:00|            2|
| 39|2015-09-16 00:00:00|            3|
| 40|2015-09-16 00:00:00|            4|
| 41|2015-09-17 00:00:00|            1|
| 42|2015-09-17 00:00:00|            2|
| 43|2015-09-17 00:00:00|            3|
| 44|2015-09-17 00:00:00|            4|
| 45|2015-09-18 00:00:00|            1|
| 46|2015-09-18 00:00:00|            2|
| 47|2015-09-18 00:00:00|            3|
| 48|2015-09-18 00:00:00|            4|
| 49|2015-09-30 00:00:00|            1|
| 50|2015-09-30 00:00:00|            2|
| 51|2015-09-30 00:00:00|            3|
| 52|2015-09-30 00:00:00|            4|
| 53|2015-10-01 00:00:00|            1|
| 54|2015-10-01 00:00:00|            2|
| 55|2015-10-01 00:00:00|            3|
| 56|2015-10-01 00:00:00|            4|
| 57|2015-10-02 00:00:00|            1|
| 58|2015-10-02 00:00:00|            2|
| 59|2015-10-02 00:00:00|            3|
| 60|2015-10-02 00:00:00|            4|
| 61|2015-10-07 00:00:00|            1|
| 62|2015-10-07 00:00:00|            2|
| 63|2015-10-07 00:00:00|            3|
| 64|2015-10-07 00:00:00|            4|
| 65|2015-10-14 00:00:00|            1|
| 66|2015-10-14 00:00:00|            2|
| 67|2015-10-14 00:00:00|            3|
| 68|2015-10-14 00:00:00|            4|
| 69|2015-10-15 00:00:00|            1|
| 70|2015-10-15 00:00:00|            2|
| 71|2015-10-15 00:00:00|            3|
| 72|2015-10-15 00:00:00|            4|
| 73|2015-10-16 00:00:00|            1|
| 74|2015-10-16 00:00:00|            2|
| 75|2015-10-16 00:00:00|            3|
| 76|2015-10-16 00:00:00|            4|
| 77|2015-10-21 00:00:00|            1|
| 78|2015-10-21 00:00:00|            2|
| 79|2015-10-21 00:00:00|            3|
| 80|2015-10-21 00:00:00|            4|
| 81|2015-10-22 00:00:00|            1|
| 82|2015-10-22 00:00:00|            2|
| 83|2015-10-22 00:00:00|            3|
| 84|2015-10-22 00:00:00|            4|
| 85|2015-10-27 00:00:00|            1|
| 86|2015-10-27 00:00:00|            2|
| 87|2015-10-27 00:00:00|            3|
| 88|2015-10-27 00:00:00|            4|
| 89|2015-10-28 00:00:00|            1|
| 90|2015-10-28 00:00:00|            2|
| 91|2015-10-28 00:00:00|            3|
| 92|2015-10-28 00:00:00|            4|
| 93|2015-10-29 00:00:00|            1|
| 94|2015-10-29 00:00:00|            2|
| 95|2015-10-29 00:00:00|            3|
| 96|2015-10-29 00:00:00|            4|
| 97|2015-10-30 00:00:00|            1|
| 98|2015-10-30 00:00:00|            2|
| 99|2015-10-30 00:00:00|            3|
|100|2015-10-30 00:00:00|            4|
|101|2015-11-03 00:00:00|            1|
|102|2015-11-03 00:00:00|            2|
|103|2015-11-03 00:00:00|            3|
|104|2015-11-03 00:00:00|            4|
|105|2015-11-04 00:00:00|            1|
|106|2015-11-04 00:00:00|            2|
|107|2015-11-04 00:00:00|            3|
|108|2015-11-04 00:00:00|            4|
|109|2015-11-05 00:00:00|            1|
|110|2015-11-05 00:00:00|            2|
|111|2015-11-05 00:00:00|            3|
|112|2015-11-05 00:00:00|            4|
|113|2015-11-06 00:00:00|            1|
|114|2015-11-06 00:00:00|            2|
|115|2015-11-06 00:00:00|            3|
|116|2015-11-06 00:00:00|            4|
|117|2015-11-07 00:00:00|            1|
|118|2015-11-07 00:00:00|            2|
|119|2015-11-07 00:00:00|            3|
|120|2015-11-07 00:00:00|            4|
|121|2015-11-10 00:00:00|            1|
|122|2015-11-10 00:00:00|            2|
|123|2015-11-10 00:00:00|            3|
|124|2015-11-10 00:00:00|            4|
|125|2015-11-11 00:00:00|            1|
|126|2015-11-11 00:00:00|            2|
|127|2015-11-11 00:00:00|            3|
|128|2015-11-11 00:00:00|            4|
|129|2015-11-12 00:00:00|            1|
|130|2015-11-12 00:00:00|            2|
|131|2015-11-12 00:00:00|            3|
|132|2015-11-12 00:00:00|            4|
|133|2015-11-13 00:00:00|            1|
|134|2015-11-13 00:00:00|            2|
|135|2015-11-13 00:00:00|            3|
|136|2015-11-13 00:00:00|            4|
|137|2015-11-18 00:00:00|            1|
|138|2015-11-18 00:00:00|            2|
|139|2015-11-18 00:00:00|            3|
|140|2015-11-18 00:00:00|            4|
|141|2015-11-21 00:00:00|            1|
|142|2015-11-21 00:00:00|            2|
|143|2015-11-21 00:00:00|            3|
|144|2015-11-21 00:00:00|            4|
|145|2015-11-25 00:00:00|            1|
|146|2015-11-25 00:00:00|            2|
|147|2015-11-25 00:00:00|            3|
|148|2015-11-25 00:00:00|            4|
|149|2015-11-26 00:00:00|            1|
|150|2015-11-26 00:00:00|            2|
|151|2015-11-26 00:00:00|            3|
|152|2015-11-26 00:00:00|            4|
|153|2015-11-27 00:00:00|            1|
|154|2015-11-27 00:00:00|            2|
|155|2015-11-27 00:00:00|            3|
|156|2015-11-27 00:00:00|            4|
|157|2015-11-28 00:00:00|            1|
|158|2015-11-28 00:00:00|            2|
|159|2015-11-28 00:00:00|            3|
|160|2015-11-28 00:00:00|            4|
+---+-------------------+-------------+

In [19]:
w = Window().orderBy("hotel_name")
indexed_hotels_df = only_hotel_names_df.select(row_number().over(w).alias("ID"), col("*"))

indexed_hotels_df.show(170)

+---+--------------------+
| ID|          hotel_name|
+---+--------------------+
|  1|        Aloft Harlem|
|  2|Andaz 5th Avenue ...|
|  3|Andaz Wall Street...|
|  4|Baccarat Hotel an...|
|  5|       Bentley Hotel|
|  6|Best Western Bays...|
|  7|Best Western Bowe...|
|  8|Best Western Plus...|
|  9|Best Western Plus...|
| 10|    Blakely New York|
| 11|Cassa Hotel 45th ...|
| 12|         Chelsea Inn|
| 13|Comfort Inn Times...|
| 14|     Conrad New York|
| 15|Courtyard New Yor...|
| 16|Courtyard Newark ...|
| 17|Courtyard by Marr...|
| 18|Courtyard by Marr...|
| 19|Courtyard by Marr...|
| 20|Courtyard by Marr...|
| 21|Courtyard by Marr...|
| 22|Crowne Plaza Time...|
| 23|Days Inn Bronx Ne...|
| 24|DoubleTree Suites...|
| 25|DoubleTree by Hil...|
| 26|DoubleTree by Hil...|
| 27|DoubleTree by Hil...|
| 28|DoubleTree by Hil...|
| 29|DoubleTree by Hil...|
| 30|Dumont NYC-an Aff...|
| 31|Embassy Suites Ne...|
| 32|Eventi Hotel a Ki...|
| 33|Fairfield Inn by ...|
| 34|Four Seasons Hote...|
| 35|GEM Hotel - Chels...|
| 36|Gild Hall A Thomp...|
| 37|Grand Hyatt New York|
| 38|Hampton Inn & Sui...|
| 39|Hampton Inn JFK A...|
| 40|Hampton Inn Madis...|
| 41|Hampton Inn Manha...|
| 42|Hampton Inn Manha...|
| 43|Hampton Inn Manha...|
| 44|Hampton Inn Manha...|
| 45|Hampton Inn Manha...|
| 46|Hampton Inn Manha...|
| 47|Hampton Inn New Y...|
| 48|Hampton Inn New Y...|
| 49|Hampton Inn New Y...|
| 50|Hampton Inn Times...|
| 51|Hilton Garden Inn...|
| 52|Hilton Garden Inn...|
| 53|Hilton Garden Inn...|
| 54|Hilton Garden Inn...|
| 55|Hilton Garden Inn...|
| 56|Hilton Garden Inn...|
| 57|Hilton Garden Inn...|
| 58|Hilton Garden Inn...|
| 59|Hilton Garden Inn...|
| 60|Hilton Manhattan ...|
| 61|Hilton New York F...|
| 62|Hilton New York J...|
| 63|Hilton Newark Air...|
| 64| Hilton Times Square|
| 65|Holiday Inn New Y...|
| 66|Home2 Suites by H...|
| 67|Homewood Suites b...|
| 68|Hotel 48LEX New York|
| 69|Howard Johnson Br...|
| 70|Howard Johnson Fl...|
| 71|Howard Johnson In...|
| 72|Hudson New York C...|
| 73|Hyatt Herald Squa...|
| 74|Hyatt Place Flush...|
| 75|Hyatt Place New Y...|
| 76|Hyatt Times Squar...|
| 77|Hyatt Union Squar...|
| 78|Jet Luxury at the...|
| 79|Langham Place New...|
| 80|Le Parker Meridie...|
| 81|Loews Regency New...|
| 82|Magnuson Conventi...|
| 83|Manhattan NYC-an ...|
| 84|   Martha Washington|
| 85|McCarren Hotel & ...|
| 86|    Millenium Hilton|
| 87|           NOMO SOHO|
| 88|New York Hilton M...|
| 89|New York Marriott...|
| 90|New York Marriott...|
| 91|New York Marriott...|
| 92|Newark Liberty In...|
| 93|Omni Berkshire Place|
| 94| Park Hyatt New York|
| 95|Quality Inn Conve...|
| 96|Quality Inn Woodside|
| 97|Radisson Martiniq...|
| 98|Ramada Long Islan...|
| 99|Red Carpet Inn Ne...|
|100|Renaissance Newar...|
|101|Residence Inn New...|
|102|Residence Inn New...|
|103|Residence Inn by ...|
|104|Roxy Hotel Tribec...|
|105|SIXTY Lower East ...|
|106|    San Carlos Hotel|
|107|Shelburne NYC-an ...|
|108|Sheraton LaGuardi...|
|109|Sheraton New York...|
|110|Smyth A Thompson ...|
|111|SpringHill Suites...|
|112|Super 8 Brooklyn ...|
|113|TRYP By Wyndham T...|
|114|        The Benjamin|
|115|The Carlyle A Ros...|
|116|The Chatwal a Lux...|
|117| The High Line Hotel|
|118| The Kitano New York|
|119|The Lexington New...|
|120|        The Lombardy|
|121|            The Mark|
|122|The Muse Hotel a ...|
|123|The New York EDITION|
|124|         The Out NYC|
|125|  The Pearl New York|
|126|The Peninsula New...|
|127|     The Plaza Hotel|
|128|The Premier Hotel...|
|129|           The Roger|
|130|The Roosevelt Hot...|
|131|  The Shoreham Hotel|
|132|The St. Regis New...|
|133|The Standard East...|
|134|       The SunBright|
|135|The Towers of the...|
|136|The Westin New Yo...|
|137|United Nations Ap...|
|138|    Viceroy New York|
|139|          W New York|
|140|W New York - Down...|
|141|W New York - Unio...|
|142|W New York Times ...|
|143|Waldorf Astoria N...|
|144|Westin New York a...|
|145|Wyndham Garden - ...|
|146|Wyndham Garden Br...|
|147|Wyndham Garden Ch...|
|148|Wyndham Garden Lo...|
|149|  Wyndham New Yorker|
|150|ink48 hotel a Kim...|
+---+--------------------+

In [ ]:
def initMat(x,y):
        return -1
finalMat = [[initMat(x,y) for x in range(161)] for y in range(150)]

In [ ]:
grouped_renamed_df.count()

In [ ]:
hotel_dict = {}
for row in indexed_hotels_df.collect():
    hotel_dict[row.hotel_name] = row.ID

In [ ]:
combinations_dict = {}
for row in indexed_final_columns_df.collect():
    combinations_dict[row.checkin_date, row.discount_code] = row.ID

In [ ]:
for row in grouped_renamed_df.collect():
    column_to_update = combinations_dict[row.checkin_date, row.discount_code] - 1
    row_to_update = hotel_dict[row.hotel_name] - 1
    print(row_to_update,column_to_update)
    finalMat[row_to_update][column_to_update] = row.discount_price

In [ ]:
for line in indexed_hotels_df.collect():
    finalMat[line.ID - 1][160] = line.hotel_name

In [ ]:
mat_df = spark.createDataFrame(finalMat)

In [ ]:
mat_df.show()

In [ ]:
for row in range(0,150):
    curr_row_max_value = 0
    curr_row_min_value = 100000
    for col in range(0,160):
        if ((finalMat[row][col] > -1) & (finalMat[row][col] > curr_row_max_value)):
            curr_row_max_value = finalMat[row][col]
        if ((finalMat[row][col] > -1) & (finalMat[row][col] < curr_row_min_value)):
            curr_row_min_value = finalMat[row][col]
    for col in range(0,160):
        if (finalMat[row][col] > -1):
            if (curr_row_min_value < curr_row_max_value):
                finalMat[row][col] = 100 * (finalMat[row][col] - curr_row_min_value) / (curr_row_max_value - curr_row_min_value)
            else:
                finalMat[row][col] = 0

In [ ]:
for row in range(0,150):
    for col in range(0,160):
        print(finalMat[row][col])

In [ ]:
for row in range(0,150):
    for col in range(0,160):
        finalMat[row][col] = float(finalMat[row][col])

In [ ]:
normalized_mat_df = spark.createDataFrame(finalMat)

In [ ]:
normalized_mat_df.show(6)

In [ ]:
# Export to file
normalized_mat_df.toPandas().to_csv('task4.csv', index=False, header=False)

In [ ]:
df = spark.read.csv("task4.csv", header=True, inferSchema=True)

In [ ]:
df.head()

In [ ]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler

feat_cols = ['_' + str(i) for i in range(1, 161)]
vec_assembler = VectorAssembler(inputCols=feat_cols, outputCol='features')
final_data = vec_assembler.transform(df)
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True, withMean=False)